<footer class="text-lg-start">
    <div *ngIf="showTopFooter" class="top-footer">
      <!-- Grid container -->
      <div class="container p-4">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
            <h5 class="text-uppercase">Footer Content</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a routerLink="./" class="">Lorem ipsum</a>
              </li>
              <li>
                <a routerLink="./" class="">Ut facilisis</a>
              </li>
              <li>
                <a routerLink="./" class="">Aenean sit</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
            <h5 class="text-uppercase">Footer Content</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a routerLink="./" class="">Suspendisse potenti</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
            <h5 class="text-uppercase">Footer Content</h5>
  
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque
              ea quis molestias. Fugiat pariatur maxime quis culpa corporis vitae
              repudiandae aliquam voluptatem veniam, est atque cumque eum delectus
              sint!
            </p>
          </div>
        </div>
      </div>
    </div>
  
    <div
      class="bottom-footer p-1 d-flex justify-content-center align-items-center text-white"
    >
      <div class="content-container">
        <div class="d-flex">
          <a href="http://www3.uea.edu.br/">
            <img src="assets/uea/images/logo-uea.png" alt="Logo UEA" />
          </a>
          <span class="text-uea">
            UNIVERSIDADE DO ESTADO DO AMAZONAS<br />
            Sistema Integrado de Bibliotecas SIB/UEA<br />
            +55 92 99134-0181 - bibliotecacentral&#64;uea.edu.br<br />
          </span>
        </div>
      </div>
    </div>
  </footer>