:host {
    display: block;
}

.display-3 {
    word-break: break-word;
}

.jumbotron {
  background-color: var(--ds-home-news-background-color);
}

a {
  color: var(--ds-home-news-link-color);

  @include hover {
    color: var(--ds-home-news-link-hover-color);
  }
}
:host {
  display: block;
  margin-top: calc(var(--ds-content-spacing) * -1);

  div.background-image-container {
    // color: white;
    position: relative;
    height: 300px;

    .background-image > img {
      // background-color: var(--bs-info);
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: top;
    }

    .container {
      position: relative;
      height: 300px;      
    }
  }

  .jumbotron {
    background-color: transparent;
  }

  @media only screen and (max-width: 500px)  {
    div.background-image-container {
      height: 100px;
      margin-top: 10px;
    }
  }

}


