// Override or add CSS variables for your theme here

:root {
  //--ds-header-logo-height: 80px;
  //--ds-header-logo-height-xs: 50px;
  //--ds-header-icon-color: #{$link-color};
  //--ds-header-icon-color-hover: #{darken($link-color, 15%)};

  @include media-breakpoint-up(md) {
    --ds-header-logo-height: 40px;
    --ds-header-height: 80px;
  }
  @include media-breakpoint-down(sm) {
    --ds-header-logo-height: 50px;
    --ds-header-height: 90px;
  }
}
